#feed {
    width: 376px;
    height: 445px;
    overflow-y: scroll;
    overflow-x: hidden;
    /*overflow: hidden;*/
    /*word-break: break-all;*/
    /*  text-align: justify;
    text-align-last: left;*/
}

.feeds {
    width: 376px;
    /*margin: 7px;*/
}

.hide {
    /*display:  none;*/
}

#cl1 {
    cursor: pointer;
}

#cl2 {
    cursor: pointer;
    float: right;
}

.head_display {
    width: 376px;
    height: 43px;
    color: black;
    margin-bottom: 5px;
    background-color: DarkSalmon;
}

.head_span {
    font-weight: bold;
    /*margin-bottom: 5px;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
}

.news_feed_div {
    height: 120px;
    width: 376px;
    overflow: hidden;
    /*margin: 4px;*/
    margin-bottom: 5px;
}

.news_feed_anchor_tag {
    color: blue;
    text-decoration: none;
}

.news_feed_description_div {
    max-height: 52px;
    min-height: 50px;
    overflow: hidden;
    max-width: 260px;
}

.news_feed_title_div {
    max-height: 51px;
    max-width: 260px;
    min-height: 25px;
    /*padding-top: 6px;*/
    padding-bottom: 3px;
    background-color: white;
    overflow: hidden;
}

.news_feed_time_div {
    max-width: 260px;
    /*padding: 3px;*/
    opacity: 0.6;
}

.news_feed {
    display: inline-block;
    height: 120px;
}

.news_feed_image_div {
    width: 90px;
    height: 120px;
    padding-right: 3px;
}

.title_div_without_description {
    height: 71px;
    max-width: 260px;
    min-height: 25px;
    /*padding-top: 6px;*/
    padding-bottom: 3px;
    background-color: white;
    overflow: hidden;
}

.loading {
    background: #FFF url(images/loading.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    /*position: fixed;*/
    /*z-index: 1000;*/
    /*  left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;*/
}

.slider_for_new_news {
    cursor: pointer;
}
